<div>
    <%= link_to article_path(article) do %>
        <h2 class="text-xl text-slate-800 font-semibold hover:text-blue-600 hover:underline transition"><%= article.title %></h2>
    <% end %>
    <p class="text-slate-600">
        <%= truncate(article.description, length: 150) %>
    </p>
</div>
