<div class="mt-12">
    <h1 class="text-5xl font-extrabold text-slate-900 text-center">
        <%= @article.title %>
    </h1>
    <p class="mt-2 text-slate-600 text-center text-sm mt-6 w-1/3 mx-auto">
        <%= @article.description %>
    </p>
</div>

<div class="mt-4 py-16 bg-white">
    <%= render @article %>
</div>

