<div class="mt-12 flex flex-col items-center">
    <h1 class="text-5xl font-extrabold text-slate-900 text-center">
        <%= @article.title %>
    </h1>

    <div class="flex space-x-4 mt-3">
        <%= render @article.tags %>
    </div>

    <p class="text-slate-600 text-center text-sm mt-3 w-1/3 mx-auto">
        <%= @article.description %>
    </p>
</div>

<div class="mt-4 py-16 bg-white">
    <%= render @article %>
</div>

