<h2 class="text-4xl font-extrabold border-b border-slate-600 pb-4">
    All Articles
</h2>

<div class="mt-4">
    <%= render partial: "article_list_item", collection: @articles, as: :article %>

    <%= link_to "New", new_article_path, class: "rounded px-4 py-2 bg-green-600 hover:bg-green-700 transition flex justify-center items-center text-white font-semibold" %>
</div>
