<h2 class="text-4xl font-extrabold border-b border-slate-600 pb-4">
    All Articles
</h2>

<div class="mt-4">
    <%= render partial: "article_list_item", collection: @articles, as: :article %>
</div>
