<div class="bg-white py-10">
    <div class="prose mx-auto text-center">
        <%= @page.body %>
    </div>
</div>

<h2 class="text-4xl font-bold text-center text-slate-800 mt-20" >
    Most Recent Article
</h2>
<%= link_to article_path(@recent), class: "hover:underline" do %>
    <h3 class="text-xl font-bold text-center text-slate-700 mt-4 mb-10">
        <%= @recent.title %>
    </h3>
<% end %>

<div class="bg-white py-16">
    <%= render @recent %>
</div>
